// Imports
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Main Styles
* {
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.flex-property-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  min-height: 100vh;
  position: relative;
  background: #E8D460;
  font-family: 'Bebas Neue', cursive;
}

// Turn Back Button
.turn-back {
  height: 60px;
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 0.5s;

  color: #8A2BE2;
  font-size: 50px;

  &:hover {
    transform: translateX(-30px);
  }
}

// Start Date Choosing Button
.date-choosing-btn {
  width: 500px;
  height: 100px;
  position: absolute;
  top: 0;
  opacity: 0;
  background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border-radius: 20px;
  transition: transform 0.5s, box-shadow 0.5s, top 2s, opacity 2s;

  color: black;
  letter-spacing: 3px;
  font-size: 55px;
  font-family: 'Bebas Neue', cursive;

  &:hover {
    transform: translateY(-50px);
    box-shadow: 0 20px 20px 0 #E18B5D;
  }
}

// Date Choosing
.date-choosing {
  height: 300px;
  display: none;
  opacity: 0;
  text-align: center;
  transition: opacity 3s;

  .date-choosing__title {
    font-size: 80px;
    color: black;
  }

  .date-choosing__input {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    transition: transform 0.5s;
    margin-top: 30px;
    font-size: 20px;

    &:focus {
      border: 5px solid lightblue !important;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .date-choosing__submit {
    width: 180px;
    height: 50px;
    margin-top: 50px;
    background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;

    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 25px;

    &:hover {
      transform: translateY(-30px);
    }
  }
}

// Timer
.timer {
  display: none;
  width: 950px;
  height: 450px;

  span {
    display: flex;
    justify-content: center;
    font-size: 80px;
  }

  .timer__title {
    height: fit-content;
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }

  .timer__row {
    height: fit-content;
    display: flex;
    justify-content: space-between;

    .row__container {
      .container__circle {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 5px solid #4B0082;
        background: transparent;

        .circle__num {
          height: fit-content;
          color: black;
        }
      }

      .row__txt {
        font-size: 40px;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}