@media screen and (max-width: 1200px) {
  button {
    &:hover {
      transform: translate(0) !important;
      box-shadow: 0 0 !important;
    }
  }
}

@media screen and (max-width: 800px) {
  // Date Choosing Button
  .date-choosing-btn {
    width: 300px;
    height: 60px;
    font-size: 35px;
  }

  // Date Choosing Title
  .date-choosing__title {
    font-size: 60px !important;
  }

  // Timer Block
  .timer {
    height: fit-content;
    margin-top: 200px;

    .timer__row {
      flex-direction: column;

      .row__container {
        margin: auto;
        margin-bottom: 20px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  .container__circle {
    width: 150px !important;
    height: 150px !important;
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  .timer__title {
    font-size: 50px !important;
  }

  .container__circle {
    width: 130px !important;
    height: 130px !important;

    .circle__num {
      font-size: 70px;
    }
  }

  .date-choosing__title {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 540px) {
  .timer {
    margin-top: 150px !important;
  }

  .timer__title {
    font-size: 35px !important;
  }


  .container__circle {
    width: 110px !important;
    height: 110px !important;

    .circle__num {
      font-size: 60px;
    }
  }
}


@media screen and (max-width: 405px) {
  .timer__title {
    font-size: 30px !important;
  }

  .container__circle {
    width: 90px !important;
    height: 90px !important;

    .circle__num {
      font-size: 50px;
    }
  }

  .timer__text {
    font-size: 35px !important;
  }
}

@media screen and (max-width: 355px) {
  .timer {
    margin-top: 120px !important;
  }

  .timer__title {
    font-size: 25px !important;
  }

  .date-choosing {
    .date-choosing__title {
      font-size: 30px !important;
    }

    .date-choosing__inp {
      width: 220px !important;
    }
  }
}